#ltwrapper{
	width: 990px;
	margin:0 auto;
	position: relative;
	height: 900px;
	overflow: hidden;
}

#crumbNav {
    background: url("../images/i.gif") no-repeat scroll 16px center rgba(0, 0, 0, 0);
    color: #666666;
    height: 28px;
    line-height: 28px;
    margin: 0 auto;
    text-indent: 20px;
    width: 990px;
}
.ltContain {
    border-color: #D10042 #FFE3E8 #DDDDDD;
    border-style: solid;
    border-width: 1px 1px 0;
    margin: 0 auto;
    padding: 1px;
    width: 988px;
}

#ltLeft {
    background-color: #FFF7F6;
    border-right: 1px solid #FFE3E8;
    float: left;
    padding: 10px 0;
    position: relative;
    width: 182px;
    z-index: 99;
}
#ltLeft .leftchoosed {
    background-color: #FFA6C3;
    color: #FFFFFF;
}
#ltLeft a {
    color: #666666;
    cursor: pointer;
    display: block;
    font-size: 14px;
    height: 36px;
    line-height: 36px;
    padding-left: 20px;
    text-indent: 20px;
    width: 160px;
    z-index: 100;
}
#ltLeft a:link, #ltLeft a:visited {
    text-decoration: none;
}
#ltLeft .leftchoosed:hover{
	background-color: #fff;
	color:#d10042;
	text-decoration: none;
}
#ltLeft img {
    float: left;
    left: 10px;
    position: relative;
    top: 10px;
    vertical-align: middle;
}
#ltLeft p {
    background: url("../images/split_line2.gif") no-repeat scroll 0 center rgba(0, 0, 0, 0);
    clear: both;
    float: none;
    height: 12px;
    margin: 0 auto;
    overflow: hidden;
    width: 170px;
}
#ltLeft a:hover{
    background-color: #FFF;
    color:#d10042;
}
/*Y右边部分*/
 #ltRight{
    float: left;
    padding: 16px 40px;
    position: relative;
    width: 722px;
    height: 100%;
}

#ltRight .blueborder {
    border: 1px solid #DDDDDD;
    /*height: 180px;*/
    padding: 16px 0 33px;
    width: 720px;
}

#userInfoTable {
    float: left;
    margin: 10px 0;
    width: 432px;
}

#userInfoTable th {
    color: #3AB9F8;
    height: 28px;
    text-align: right;
    width: 80px;
}
#userInfoTable .tinfo {
    text-indent: 6px;
    width: 156px;
}
#userInfoTable td {
    background: url("../images/slightblue.gif") repeat-x scroll 0 bottom rgba(0, 0, 0, 0);
}
.red {
    color: #FF0000;
}
em, i {
    font-style: normal;
}
#userInfoTable .tright {
    text-align: right;
}
#userInfoTable td {
    background: url("../images/slightblue.gif") repeat-x scroll 0 bottom rgba(0, 0, 0, 0);
}

#siteHelper {
    background: url("../images/messageouter.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: left;
    height: 117px;
    width: 186px;
}

#siteHelper h6 {
    color: #3AB9F8;
    padding: 10px 0 0 60px;
}

#siteHelper dl {
    margin: 8px 0 0;
    padding: 0 0 0 46px;
}

#siteHelper dd {
    background: url("../images/blue.gif") repeat-x scroll 0 bottom rgba(0, 0, 0, 0);
    float: left;
    height: 22px;
    line-height: 22px;
    width: 66px;
}
#siteHelper  a{
    color: #008CD7;
    text-decoration: none;
}
#siteHelper a:hover{
   color:#d10042;
}

.extab_top .choosed {
    background-color: #FCE8ED;
}
.extab_top span {
    border-style: solid solid none;
    border-width: 1px 1px 0;
    border-color: #ccc;
    cursor: pointer;
    display: block;
    float: left;
    height: 14px;
    margin: 0 5px 0 0;
    overflow: hidden;
    padding: 6px 10px;
}

#orderTableTitle {
    border-collapse: collapse;
    border-color: #C2D8ED;
    border-left: 1px solid #C2D8ED;
    border-right: 1px solid #C2D8ED;
    border-style: none solid;
    border-width: 0 1px;
    width: 722px;
}

#orderTableTitle td {
    background-color: #FFF7F9;
    color: #999999;
    height: 24px;
    text-align: center;
}
#orderTable {
    border: 1px solid #DDDDDD;
    border-collapse: collapse;
    width: 722px;
}
#orderTable td {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    font-family: "宋体";
    height: 48px;
    text-align: center;
}
#orderTable td a{
 color: #008CD7;  
}
#orderTable td a:hover{
    color:#d10042;   
}
/*我的订单部分的css样式*/
.linktab {
    font-size: 14px;
}

.linktab a:link, .linktab a:visited {
    text-decoration: underline;
    color: #008CD7;
}
.linktab a {
    font-size: 14px;
}
.linktab a:hover {
color: #d10042;
}

.graysplitline {
    color: #DDDDDD;
    margin: 0 7px;
}

/*密码修改部分的css样式*/
.htitle {
    background-color: #FFF7F9;
    color: #666666;
    font-size: 14px;
    font-weight: 700;
    height: 26px;
    line-height: 26px;
    padding: 0 16px;
    position: relative;
}
.blueborder {
    border: 1px solid #DDDDDD;
    padding: 15px 0 20px;
    width: 720px;
}

#pwdTable {
    margin: 10px auto 0;
    width: 540px;
}

#pwdTable th {
    color: #999999;
    font-weight: 400;
    height: 28px;
    padding: 0 10px 0 0;
    text-align: right;
    width: 86px;
}

#pwdTable td {
    color: #000000;
    height: 28px;
}

.normaltxt {
    background: url("../images/input1.gif") no-repeat scroll 0 0 #FFFFFF;
    border: 1px solid #999999;
    font-family: Verdana,"Courier New","宋体";
    height: 16px;
    padding: 4px 0 2px 6px;
    vertical-align: middle;
    width: 214px;
}

.normalblue {
    background: url("../images/redbg.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    color: #FFFFFF;
    cursor: pointer;
    height: 24px;
    width: 82px;
}
/*我的地址部分的css*/
#add_new_address {
    background: url("../images/addradd.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #FFF7F9;
    color: #999999;
    cursor: pointer;
    height: 24px;
    line-height: 24px;
    position: absolute;
    right: 0;
    top: 0;
    width: 126px;
}
.addresstable {
    margin: 10px auto 0;
    width: 580px;
}

.addresstable thead th {
    background: url("../images/addresstitle.gif") no-repeat scroll 25px center rgba(0, 0, 0, 0);
    font-weight: 400;
    height: 24px;
    padding: 0 10px 0 0;
    text-align: right;
    width: 86px;
}

.addresstable thead td {
    background-color: #FFF7F9;
    height: 24px;
    padding: 0 15px 0 0;
    text-align: right;
}

a:link, a:visited {
    color: #008CD7;
    text-decoration: none;
}
a:hover{
    color: #d10042;
}

.addresstable tbody th {
    color: #999999;
    font-weight: 400;
    height: 24px;
    padding: 0 10px 0 0;
    text-align: right;
    width: 86px;
}
.addresstable tbody td {
    background: url("../images/slightblue.gif") repeat-x scroll 0 bottom rgba(0, 0, 0, 0);
    height: 24px;
}
.addAddress {
    width: 600px;
}
.right {
    text-align: right;
    width: 200px;
}

.addAddress td {
    height: 32px;
}

.normaltxt {
    background: url("../images/input.gif") no-repeat scroll 0 0 #FFFFFF;
    border: 1px solid #999999;
    font-family: Verdana,"Courier New","宋体";
    height: 16px;
    padding: 4px 0 2px 6px;
    vertical-align: middle;
    width: 214px;
}